<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='Assets/icon.png') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Password Generator</title>
  </head>
  <body>
    <section class="mainpage">
      <!-- Title of page -->

      <div class="title">
        <h1>Password Generator</h1>
      </div>

      <!-- container -->

      <div class="container">
        <!-- User input -->

        <div class="user-input">
          <h3>Select Length of Password</h3>
          <form>
            <div class="value">8</div>
            <input type="range" min="8" max="128" step="2" value="0" />
          </form>
        </div>

        <!-- Output -->

        <div class="output-box">
          <h3>Your New Password is </h3>
          <div class="output" id="output">{{ password_gen }}</div>
        </div>

        <!-- button -->
        <div class="buttons">
          <button class="copy-btn">
            <span
              class="iconify"
              data-icon="ic:baseline-file-copy"
              data-inline="true"
            ></span>
            Copy
          </button>
          <button class="reset-btn" onclick="refreshPage()">
            <span
              class="iconify"
              data-icon="ic:twotone-refresh"
              data-inline="true"
            ></span>
            Regenerate
          </button>
        </div>
      </div>
    </section>

    <footer class="foot">
      <h4>&copy; Copyrights 2021 by Drish. All Rights Reserved.</h4>
    </footer>

    <script src="{{ url_for('static', filename='Script/script.js') }}"></script>
  </body>
</html>
